<ul>
<% @tickets.each do |ticket| %>
  <li>
    <%= ticket.id %>
    <%= link_to 'Показать', admin_ticket_path(ticket) %>
    <%= link_to 'Удалить', admin_ticket_path(ticket), method: :delete, data: { confirm: 'Вы уверенны?' } %>
  </li>
<% end %>
</ul>