<p id="notice"><%= notice %></p>

<h1>Список вагонов:</h1>

<table>
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Тип</th>
      <th>Верхних мест</th>
      <th>Нижних мест</th>
      <th>Боковых верхних мест</th>
      <th>Боковых нижних мест</th>
      <th>Сидячих мест</th>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "vagons/vagon", collection: @vagons, as: :vagon %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вагон', new_vagon_path %>
